@import "reset";
@import "variables";
@import "mixins";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sofia Sans", sans-serif;
}

input,
button,
textarea,
select {
    outline: none;
    border: none;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.wrapper-inner {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main";
}

.sidebar {
    grid-area: sidebar;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    height: $header-height;
}

.search-form {
    display: flex;
    align-items: center;
    column-gap: 18px;
    margin-right: auto;

    .search {
        font-size: 1.8rem;
        font-weight: 600;
        background: #fff;

        &::placeholder {
            color: rgba($color: #000, $alpha: 0.2);
        }
    }
}

.main {
    grid-area: main;
}

.header .nav {
    display: flex;
    column-gap: 46px;
}

.header .nav-link {
    position: relative;
    padding: 8px 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: $text-color;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background: $black;
        transition: width 0.5s;
    }

    &:hover::after,
    &.active::after {
        width: 100%;
    }
}

.header .actions {
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-left: 50px;
}
